{% extends 'index.html' %}
{% load static %}

{% block body %}

<h1> Tasks in List 1 </h1>
<table class="table">

    <tr>
        <th scope="col"> Task </th>
        <th scope="col"> Created </th>
        <th scope="col"> Due on </th>
        <th scope="col"> Owner </th>
        <th scope="col"> Mark </th>
    </tr>

    {% for task in tasks %}
    <tr>
        <th><a href=""> {{task.name}} </a></th>
        <th> {{task.created}} </th>
        <th> {{task.due_on}} </th>
        <th> {{task.owner}} </th>
        {% if task.mark is True %}
        <th><button type="button" class="btn btn-info"> Done </button></th>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<button type="button" class="btn btn-warning"> View completed tasks </button>

{% endblock %}