{% extends 'index.html' %}
{% load static %}

{% block body %}

{% for post in posts %}

<div>
    <div class="card">
        <div class="container">
            <h2> {{post.title}} </h2>
            <h5> By: {{post.author}}, {{post.date_published}} </h5>
            <div class="fakeimg" style="height:200px"> Fake Image </div>
            <p> {{post.content}} </p>
            {% if user.is_authenticated %}
            <a href="update/{{post.id}}"><button type="button" class="btn btn-info"> Update </button></a>
            <a href="delete/{{post.id}}"><button type="button" class="btn btn-danger"> Delete this post </button></a>
            {% endif %}
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="card">
            <h2> Comments: </h2>
            <p> {{post.comment}} </p>
        </div>
    </div>
</div>    

{% endfor %}

{% endblock %}